html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page-container {
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    background: #F1EEE8;
}

#header {
  position: absolute;
  height: 60px;
  width: 100%;
}

h1{
  margin: 0 0 0 0;
  padding: 10px 0 0 10px;
  float: left;
  width: 200px;
}
#navi {
  margin:  0 0 0 0;
  list-style: none;
  padding: 17px 0 0 40px;
  text-align: center;
}

ul#navi a { 
  float: left;
  width: 90px;
  background: black;
  color: #F1EEE8;
  border: 4px solid black;
  display: block;
  text-decoration: none;
}
  
ul#navi a:hover, ul#navi li.current a { 
  background: #F1EEE8;
  color: black;
}

#sidebar {
  position: absolute;
  margin-top: 60px;
  padding: 8px 0 0 8px;
  width: 200px;
  float: left;
}

#sidebar div.info {
  display: none;
}

#sidebar div.current {
  display: block;
}

#map {
  position: absolute;
  bottom: 0px;
  top: 60px;
  left: 200px;
  right: 0px;
  overflow: auto;
}

