html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#page-container {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  background: #F1EEE8;
  overflow: hidden;
}

#header {
  position: absolute;
  height: 60px;
  width: 100%;
}

h1{
  margin: 0 0 0 0;
  padding: 10px 0 0 10px;
  float: left;
  width: 200px;
}
#color-info {
  padding: 17px 0 0 0;
}

.canvas-container {
  margin:  0 0 0 20px;
  white-space: nowrap;
}

#sidebar {
  position: absolute;
  top: 60px;
  bottom: 30px;
  width: 200px;
  float: left;
  overflow: auto;
}

#map {
  position: absolute;
  bottom: 30px;
  top: 60px;
  left: 200px;
  right: 0px;
}

#footer {
  position: absolute;
  bottom: 0px;
  height: 30px;
  width: 100%;
  text-align: right;
}

.info {
  position: relative;
  top: 10px;
  right: 10px;
  text-decoration: none;
  color: black;
}
