body {
	font-family: Verdana, Arial;
	font-size: 0.8em;
	color: black;
}

#header {
  height: 80px;
  margin-bottom: 10px;
}

#map {
  width: 100%;
  height: 500px;
}

/*#legend {
  width: 700px;
  height: 40px;
  border-style: solid;
  border-color: black;
}*/
