body {
	font-family: Verdana;
	font-size: 0.8em;
	font-color: black;
	background-color: #F1EEE8;
}

#header {
  height: 70px;
  margin-top: 0px;
  }

h1 {
  margin: 10px;
  width: 200px;
}

.canvas_container {
  float:left;
  width: 70px;
  margin-left: 10px;
}

.canvas_label {
  padding-left: 2px;
}

#map {
  position: relative;
  width: 100%;
  height: 85%;
}

#footer {
  padding-top: 5px;
  height: 20px;
  width: 98%;
  text-align: right;
  position: absolute;
  bottom:1;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

a:hover, active {
  background:black;
  color: white;
}