body {
	font-family: Verdana;
	font-size: 0.8em;
	font-color: black;
	background-color: #F1EEE8;
}

#header {
  height: 100px;
  margin-top: 0px;
  }

#info {
  padding-top: 5px;
  height: 20px;
  width: 98%;
  text-align: right;
  position: absolute;
  bottom:5;
}

#map {
  position: relative;
  width: 100%;
  height: 80%;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color: black;
}

a:hover, active {
  background:black;
  color: white;
}