<!DOCTYPE>

{% load staticfiles %}
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Open3G Map</title>
    <link rel="stylesheet" type="text/css" href="{% static 'o3gm/css/main.css' %}"" />  
    <script src="{% static 'o3gm/js/jquery-1.8.3.min.js' %}"></script>
    <script src="{% static 'o3gm/js/openlayers/OpenLayers.js' %}"></script>
    <script src="{% static 'o3gm/js/network-dict.js' %}"></script>
    <script src="{% static 'o3gm/js/site.js' %}"></script>
    <script src="{% static 'o3gm/js/style-map.js' %}"></script>
    <script src="{% static 'o3gm/js/select-feature.js' %}"></script>
    <script src="{% static 'o3gm/js/main.js' %}"></script>

  </head>
  <body >
    <div id="page-container">
      <div id="header">
        <h1>Open3G Map</h1>
          <div id="color-info"></div>
      </div>
      <div id="sidebar">
        <div id="controls" class="sidebar-unit"> 
          <h2>Controls</h2>
          <form>
            <select name='select-nw-type'>
                <option value="None"> All </option>
              {% for nw_type in nw_types %}
                <option value="{{ nw_type }}"> {{ nw_type }} </option>
              {% endfor %}
                <option value="None"> not specified </option>
            </select>
            <select name='select-operator'>
              {% for operator in operators %}
                <option value="{{ operator }}"> {{ operator.0 }}-{{ operator.1 }} </option>
              {% endfor %}             
            </select>
          </form>
        </div>
        <div id="downloads" class="sidebar-unit">
          <h2>Downloads</h2>
        </div>
        <div id="feature-info-container" class="sidebar-unit">
          <h2>Feature Information</h2>
          <div style="font-style:italic">
            click on a feature
          </div>
          <div id="feature-info"></div>
        </div>
      </div>
      <div id="sidebar-tg" class="click" title="Toggle Sidebar"></div>
      <div id="map"></div>
      <div id="footer">
        <a class="info" target="blank" 
          href="mailto:lukas.puehringer[you-know]univie.ac.at">
          L. Pühringer</a>
        <a class="info" target="blank"
         href="mailto:albert.rafetseder[you-know]univie.ac.at">
          A. Rafetseder</a>
        <a class="info" target="blank" 
          href="mailto:florian.metzger[you-know]univie.ac.at">
          F. Metzger</a> 
        <a class="info" target="blank" 
          href="http://www.univie.ac.at">
          University of Vienna</a><br>
      </div>
    </div>

  </body>
</html>